

body {
  background-image: url('background-dice-gambling-green-vector-15356993.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h3
{
font-size:40px;
}
#textboxid
{
    height:50px;
    width:500px;
    font-size:14pt;
}